/*------------------------------------*\
    COMPONENTS/SITE-HEADER.SCSS
\*------------------------------------*/


.site-header--text {
    text-transform: uppercase;
    h1 {
        width: 100%;
    }
    a {
        text-decoration: none;
        &:hover {
            color: $link-black;
        }
    }
}

