/*------------------------------------*\
    OBJECTS/OBJECTS.SCSS
\*------------------------------------*/


.bg-block {
    background-color: $grey-alpha;
}

/*------------------------------------*\
    BLOCK PADDING
\*------------------------------------*/
.block-padding-left {
    position: relative;
    left: 10px;
    &:before {
        position: absolute;
        right: 100%;
        top: -0px;
        bottom: -0px;
        display: block;
        background-color: $grey-alpha;
        content: " ";
        width: 10px;
    }
}

.block-padding {
    margin-bottom: 0;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;    
    padding-right: 0.5rem;
}

.header-margin-top {
    margin-top: 1rem;
}

/*------------------------------------*\
    PAGE-BG
\*------------------------------------*/

.page-bg {
    z-index: -100;
    position: absolute;
    top: 0; bottom: 0; right: 0; left:0;
    background-color: black;
}

.page-bg--img {
    img {
        z-index: -90;
        width: 100%;
        min-width: $lap-start;
    }
}

// .page-bg--gradient {
//     display: block;
//     position: relative;
//     top: -100px;
//     height: 100px;    
//     @include filter-gradient(#000000, #000000, vertical); // IE6-9
//     $experimental-support-for-svg: true;
//     @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%));
// }

/*------------------------------------*\
    POST ELEMENTS 
\*------------------------------------*/

.page-content img {
    @extend .bg-block;
    @extend .block-padding;
    padding-left: 10px;
}

.page-content table, caption, fieldset{
    @extend .bg-block;
    @extend .block-padding;
}

.lightbox-link {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

/*------------------------------------*\
    OTHER ELEMENTS 
\*------------------------------------*/

.post-list {
    background-color: transparent;
    left:0;
    &:before {
        display: none;
    }
    a {
        @extend .block-padding;
        @extend .block-padding-left;
        @extend .font-pt-mono;
        @extend .bg-block;
        font-size: 1.5em;
        line-height: 2.5em;
        text-transform: uppercase;
    }
}
