/*------------------------------------*\
    ELEMENTS/TYPOGRAPHY.SCSS
\*------------------------------------*/

.font-oswald { font-family: 'Oswald', sans-serif; }
.font-pt-mono { font-family: 'PT Mono', sans-serif; }
.font-lato { font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    color: $text-black;
    display: inline-block;
    @extend .bg-block;
    @extend .block-padding-left;
    @include block-clear;
}

h2,h3,h4,h5,h6 { 
    @extend .font-pt-mono; 
}
// h2 { @extend .font-oswald; }

h1 {
    font-size: 3.8em;
    @extend .font-oswald;
    @include text-padding-right($grey-alpha, 0.2em);
    @extend .header-margin-top;
}
h2 { 
    @include text-padding-right($grey-alpha, 0.3em); 
    @extend .header-margin-top;
}
h3 { 
    @include text-padding-right($grey-alpha, 0.5em); 
    line-height: 1.9em;
}
h4 {
    @include text-padding-right($grey-alpha, 0.6em);
    line-height: 1.9em;
}
h5 {
    @include text-padding-right($grey-alpha, 0.7em);
    line-height: 1.9em;
}
h6 {
    @include text-padding-right($grey-alpha, 0.9em);
    line-height: 1.9em;
}

p, pre, ul, ol, dl {
    font-size: 0.8em;
    display: block;
    @extend .font-lato;
    @extend .bg-block;
    @extend .block-padding-left;
    @extend .block-padding;
}

pre {
    margin-left: -10px;
    padding-left: 10px;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol ol, ul ul, ul p, ol p {
    background-color: transparent;
}

a, a:hover, a:active, a:visited {
    color: $link-black;
}


