/*------------------------------------*\
    COMPONENTS/PAGE-CONTENT.SCSS
\*------------------------------------*/

.page-content {
    // width: 50%;
}

.page-content--constrained {
    width: 70%;
}

.heading__wrapper {
    display: block;
}

.heading--category {
    margin-bottom: 0.5em;
}

.entry-title {
    margin-top: 1em;
}
