/*------------------------------------*\
    COMPONENTS/SITE-NAV.SCSS
\*------------------------------------*/

.site-nav {
    margin-bottom: 2em;
    ul {
        display: inline-block;
        left:0;
        @extend .cf;
        margin: 0;
        padding: 0;
        padding-right: 10px;
        @extend .font-pt-mono;
        font-size: 1em;
        li {
            margin:0;
            float: left;
            padding-left: 12px;
            a {
                text-transform: uppercase;
            }
        }
    }
}
