/*------------------------------------*\
    OBJECTS/OBJECTS.SCSS
\*------------------------------------*/


.bg-block {
    background-color: $grey-alpha;
}

/*------------------------------------*\
    BLOCK PADDING
\*------------------------------------*/
.block-padding-left {
    position: relative;
    left: 10px;
    &:before {
        position: absolute;
        right: 100%;
        top: -0px;
        bottom: -0px;
        display: block;
        background-color: $grey-alpha;
        content: " ";
        width: 10px;
    }
}

.block-padding {
    margin-bottom: 0;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;    
    padding-right: 0.5rem;
}

.header-margin-top {
    margin-top: 1rem;
}

/*------------------------------------*\
    PAGE-BG
\*------------------------------------*/

.page-bg {
    z-index: -100;
    position: fixed;
    top: 0; bottom: 0; right: 0; left:0;
    background-size: cover;
    background-position: center;
}

/*------------------------------------*\
    POST ELEMENTS 
\*------------------------------------*/

.page-content img {
    @extend .bg-block;
    @extend .block-padding;
    padding-left: 10px;
}

.page-content table, caption, fieldset{
    @extend .bg-block;
    @extend .block-padding;
}

.lightbox-link {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

/*------------------------------------*\
    OTHER ELEMENTS 
\*------------------------------------*/

.post-list {
    background-color: transparent;
    left:0;
    &:before {
        display: none;
    }
    li {
        a {
            display: inline-block;
            @extend .block-padding;
            @extend .block-padding-left;
            @extend .font-pt-mono;
            @extend .bg-block;
            font-size: 1.5em;
            line-height: 1em;
            text-transform: uppercase;
            margin-bottom: 0.8em;

            @extend .hover-full-width;
        }
    }
}

.arve-wrapper {
    @extend .block-padding;
    @extend .block-padding-left;
    @extend .bg-block;
    margin-bottom: 0;
}

.nav-below {
    margin-top: 2em;
    margin-bottom: 4em;
    p {
        display: inline-block;
        @extend .font-pt-mono;
        font-size: 1em;
        text-transform: uppercase;
    }
}   

.hover-full-width {
    // position: relative;
    // &:hover {
    //     &:after {
    //         content: " ";
    //         position: absolute;
    //         height: 1em;
    //         width: 100%;
    //         background-color: $grey-alpha; 
    //     }
    // }
    &:hover {
        width: 100%;
    }
}
